rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
  
    match /{collection}/{playerId} {
      allow read: if true;
      
      // Allow creation of first-time record
      allow create: if isLeaderboard(collection)
                    && request.resource.data.score is number 
                    && request.resource.data.score >= 0
                    && request.resource.data.name is string
                    && request.resource.data.createdAt is timestamp;
                    
      // Allow updates only when the new score is higher, or if updating the name for the current score
      allow update: if isLeaderboard(collection)
                    && request.resource.data.name is string
                    && (
                      request.resource.data.score > resource.data.score ||
                      (request.resource.data.score == resource.data.score && request.resource.data.name != resource.data.name)
                    );
    }

    function isLeaderboard(collection) {
      return collection in [
        'halo_leaderboard', 
        'weapon_leaderboard', 
        'tactical_leaderboard', 
        'gear_leaderboard',
        'chocolate_leaderboard'
      ];
    }
  }
}
